alias psfu='ps -fu$(whoami)'
alias ll='ls -l'
alias la='ls -la'
#alias escapology='ssh -i ~/.ssh/scaleway root@51.15.116.245'
#alias escapology='ssh  root@51.15.116.245'
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
#alias ls='ls --color=auto'
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias np='nano -w PKGBUILD'
alias more=less
